### Test Task Solution
At first, one needs to create a database and store all the tables required for completing the technical task.

In [10]:
# Importing necessary libraries
import pandas as pd
import sqlite3

# Reading CSV files as pandas DataFrame
df_1 = pd.read_csv('ACTIVE_CLIENTS.csv', index_col='CLIENT_ID')
df_2 = pd.read_csv('OFFERS.csv', index_col='OFFER_ID')
df_3 = pd.read_csv('CARDS.csv', index_col='CLIENT_ID')
df_4_1 = pd.read_csv('BONUS.csv', index_col='CLIENT_ID')
df_4_2 = pd.read_csv('MCC_CATEGORIES.csv', index_col='MCC_CODE')

In [2]:
# Connecting/creating 'DataBase.db'
db = sqlite3.connect("DataBase.db")

In [3]:
# Storing created tables in the 'DataBase.db' database
df_1.to_sql('ACTIVE_CLIENTS', db)
df_2.to_sql('OFFERS', db)
df_3.to_sql('CARDS', db)
df_4_1.to_sql('BONUS', db)
df_4_2.to_sql('MCC_CATEGORIES', db)

3

Now, one can begin using SQL in the Jupyter Notebook by loading the SQL extension and connecting to our database.

In [11]:
# Loading the SQL extension
%load_ext sql

# Connecting to the 'DataBase.db'
%sql sqlite:///DataBase.db

#### 1. The first task:

<b>Data Description</b>: The ACTIVE_CLIENTS table contains a monthly snapshot of bank clients who made any transactions. Attributes: reporting month (report_month) and client identifier (client_id). We consider a client to have "churned" from the bank in month N if they are active (present in the ACTIVE_CLIENTS table) in month N and inactive in months N+1, N+2, N+3.

| REPORT_MONTH | CLIENT_ID  |
|--------------|------------|
| 2018-01-01   | 1847982357 |
| 2018-01-01   | 938475     |
| 2018-02-01   | 1847982357 |
| 2018-02-01   | 6789998   |
| 2018-03-01   | 67900001  |
| ...          | ...        |

<b>Task</b>: Display the number of active clients for each month; display the proportion of clients who "churned" in each month.

First, let's examine the table required to complete the first task.

In [7]:
%%sql 
SELECT * 
FROM ACTIVE_CLIENTS
ORDER BY CLIENT_ID;

 * sqlite:///DataBase.db
Done.

[(300000, '2018-08-09'),
 (300000, '2019-01-09'),
 (938475, '2018-01-01'),
 (938475, '2018-02-01'),
 (1000000, '2018-06-06'),
 (1000000, '2018-10-06'),
 (2000000, '2018-07-08'),
 (2000000, '2018-10-08'),
 (6789998, '2018-01-01'),
 (6789998, '2018-02-01'),
 (6789998, '2018-03-01'),
 (6789998, '2018-04-04'),
 (40000000, '2018-09-05'),
 (40000000, '2018-11-05'),
 (40000000, '2019-01-09'),
 (67900001, '2018-01-01'),
 (67900001, '2018-02-01'),
 (67900001, '2018-03-01'),
 (67900001, '2018-04-04'),
 (67900001, '2018-05-05'),
 (1847982357, '2018-01-01'),
 (1847982357, '2018-01-01'),
 (1847982357, '2018-02-01'),
 (1847982357, '2018-03-01'),
 (1847982357, '2018-01-02')]

It is not essential to track the number of actions performed by each client within a month, so we can consolidate the data by ensuring that there is no more than one unique CLIENT_ID in a given month.

In [8]:
%%sql
SELECT DISTINCT CLIENT_ID, DATE(REPORT_MONTH, 'start of month') AS REPORT_MONTH
FROM ACTIVE_CLIENTS;

 * sqlite:///DataBase.db
Done.

[(300000, '2018-08-01'),
 (300000, '2019-01-01'),
 (938475, '2018-01-01'),
 (938475, '2018-02-01'),
 (1000000, '2018-06-01'),
 (1000000, '2018-10-01'),
 (2000000, '2018-07-01'),
 (2000000, '2018-10-01'),
 (6789998, '2018-01-01'),
 (6789998, '2018-02-01'),
 (6789998, '2018-03-01'),
 (6789998, '2018-04-01'),
 (40000000, '2018-09-01'),
 (40000000, '2018-11-01'),
 (40000000, '2019-01-01'),
 (67900001, '2018-01-01'),
 (67900001, '2018-02-01'),
 (67900001, '2018-03-01'),
 (67900001, '2018-04-01'),
 (67900001, '2018-05-01'),
 (1847982357, '2018-01-01'),
 (1847982357, '2018-02-01'),
 (1847982357, '2018-03-01')]

Next, we can create an additional column indicating the next active month immediately following the current active month, calculate the month difference taking into account years and assign if the month difference is less than or equal to 3, than the client is active in the current month, otherwise it is churned.

In [9]:
%%sql
WITH SimplifiedData AS (
    SELECT DISTINCT CLIENT_ID, DATE(REPORT_MONTH, 'start of month') AS REPORT_MONTH
    FROM ACTIVE_CLIENTS
)
SELECT
    CLIENT_ID,
    REPORT_MONTH,
    LEAD(REPORT_MONTH, 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) AS LEAD_REPORT_MONTH,
    (
        (LEAD(strftime('%Y', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%Y', REPORT_MONTH)) * 12 +
        (LEAD(strftime('%m', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%m', REPORT_MONTH))
    ) AS MONTH_DIFFERENCE,
    CASE
        WHEN (
            (
                (LEAD(strftime('%Y', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%Y', REPORT_MONTH)) * 12 +
                (LEAD(strftime('%m', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%m', REPORT_MONTH))
            ) <= 3
        ) THEN 'active'
        ELSE 'churned'
    END AS STATUS
FROM SimplifiedData
order by REPORT_MONTH;

 * sqlite:///DataBase.db
Done.

[(938475, '2018-01-01', '2018-02-01', 1, 'active'),
 (6789998, '2018-01-01', '2018-02-01', 1, 'active'),
 (67900001, '2018-01-01', '2018-02-01', 1, 'active'),
 (1847982357, '2018-01-01', '2018-02-01', 1, 'active'),
 (938475, '2018-02-01', None, None, 'churned'),
 (6789998, '2018-02-01', '2018-03-01', 1, 'active'),
 (67900001, '2018-02-01', '2018-03-01', 1, 'active'),
 (1847982357, '2018-02-01', '2018-03-01', 1, 'active'),
 (6789998, '2018-03-01', '2018-04-01', 1, 'active'),
 (67900001, '2018-03-01', '2018-04-01', 1, 'active'),
 (1847982357, '2018-03-01', None, None, 'churned'),
 (6789998, '2018-04-01', None, None, 'churned'),
 (67900001, '2018-04-01', '2018-05-01', 1, 'active'),
 (67900001, '2018-05-01', None, None, 'churned'),
 (1000000, '2018-06-01', '2018-10-01', 4, 'churned'),
 (2000000, '2018-07-01', '2018-10-01', 3, 'active'),
 (300000, '2018-08-01', '2019-01-01', 5, 'churned'),
 (40000000, '2018-09-01', '2018-11-01', 2, 'active'),
 (1000000, '2018-10-01', None, None, 'churned'),
 (2000000, '2018-10-01', None, None, 'churned'),
 (40000000, '2018-11-01', '2019-01-01', 2, 'active'),
 (300000, '2019-01-01', None, None, 'churned'),
 (40000000, '2019-01-01', None, None, 'churned')]

The last step is to group by 'REPORT_MONTH' and exclude the last 3 months because we cannot determine if the clients will remain active in the next 3 months.

In [29]:
%%sql
WITH SimplifiedData AS (
    SELECT
        CLIENT_ID,
        REPORT_MONTH,
        CASE
            WHEN (
                (
                    (LEAD(strftime('%Y', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%Y', REPORT_MONTH)) * 12 +
                    (LEAD(strftime('%m', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%m', REPORT_MONTH))
                ) <= 3
            ) THEN 'active'
            ELSE 'churned'
        END AS STATUS
    FROM (
        SELECT DISTINCT CLIENT_ID, DATE(REPORT_MONTH, 'start of month') AS REPORT_MONTH
        FROM ACTIVE_CLIENTS
    )
)
SELECT
    REPORT_MONTH,
    STATUS,
    COUNT(*) AS ACT_CLIENT_NUM
FROM
    SimplifiedData
WHERE
    STATUS = 'active'
    AND REPORT_MONTH <= date('now', '-3 months')
GROUP BY
    REPORT_MONTH;

 * sqlite:///DataBase.db
Done.

[('2018-01-01', 'active', 4),
 ('2018-02-01', 'active', 3),
 ('2018-03-01', 'active', 2),
 ('2018-04-01', 'active', 1),
 ('2018-07-01', 'active', 1),
 ('2018-09-01', 'active', 1),
 ('2018-11-01', 'active', 1)]

In [28]:
%%sql
WITH SimplifiedData AS (
    SELECT
        CLIENT_ID,
        REPORT_MONTH,
        CASE
            WHEN (
                (
                    (LEAD(strftime('%Y', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%Y', REPORT_MONTH)) * 12 +
                    (LEAD(strftime('%m', REPORT_MONTH), 1) OVER (PARTITION BY CLIENT_ID ORDER BY REPORT_MONTH) - strftime('%m', REPORT_MONTH))
                ) <= 3
            ) THEN 'active'
            ELSE 'churned'
        END AS STATUS
    FROM (
        SELECT DISTINCT CLIENT_ID, DATE(REPORT_MONTH, 'start of month') AS REPORT_MONTH
        FROM ACTIVE_CLIENTS
    )
)
SELECT
    REPORT_MONTH,
    SUM(CASE WHEN STATUS = 'churned' THEN 1 ELSE 0 END) * 1.0 / COUNT(*) AS CHUR_FRACTION
FROM
    SimplifiedData
WHERE
    REPORT_MONTH <= date('now', '-3 months')
GROUP BY
    REPORT_MONTH;

 * sqlite:///DataBase.db
Done.

[('2018-01-01', 0.0),
 ('2018-02-01', 0.25),
 ('2018-03-01', 0.3333333333333333),
 ('2018-04-01', 0.5),
 ('2018-05-01', 1.0),
 ('2018-06-01', 1.0),
 ('2018-07-01', 0.0),
 ('2018-08-01', 1.0),
 ('2018-09-01', 0.0),
 ('2018-10-01', 1.0),
 ('2018-11-01', 0.0),
 ('2019-01-01', 1.0)]

Thus, the first table displays the count of active clients for each month, while the second one indicates the fraction of customers who churned each month.

#### 2. The second task:

<b>Data Description</b>: The OFFERS table contains information about credit offers for bank customers. Each offer has an identifier (offer_id), a start date (offer_start_date), and an expiration date (offer_expiration_date).

<b>Task</b>: Display the number of active offers for each day in the year 2018.

| OFFER_ID | OFFER_START_DATE | OFFER_EXPIRATION_DATE |
|----------|------------------|-----------------------|
|   83942  |  2017-12-01      |  2018-02-01           |
|   94859  |  2018-05-03      |  2018-10-19           |
|   ...    |  ...             |  ...                  |

Below, we can see the table used for this task.

In [12]:
%%sql 
SELECT * 
FROM OFFERS;

 * sqlite:///DataBase.db
Done.

[(83942, '2017-12-01', '2018-02-01'),
 (94858, '2018-03-03', '2018-07-19'),
 (94859, '2018-05-03', '2018-10-19')]

First, we can create a temporary table with all the dates of 2018.

In [13]:
%%sql
WITH Dates AS (
    SELECT DATE('2018-01-01') AS DATE
    UNION ALL
    SELECT DATE(DATE, '+1 day') 
    FROM Dates
    WHERE DATE < '2018-12-31'
)
SELECT *
FROM Dates

 * sqlite:///DataBase.db
Done.

[('2018-01-01',),
 ('2018-01-02',),
 ('2018-01-03',),
 ('2018-01-04',),
 ('2018-01-05',),
 ('2018-01-06',),
 ('2018-01-07',),
 ('2018-01-08',),
 ('2018-01-09',),
 ('2018-01-10',),
 ('2018-01-11',),
 ('2018-01-12',),
 ('2018-01-13',),
 ('2018-01-14',),
 ('2018-01-15',),
 ('2018-01-16',),
 ('2018-01-17',),
 ('2018-01-18',),
 ('2018-01-19',),
 ('2018-01-20',),
 ('2018-01-21',),
 ('2018-01-22',),
 ('2018-01-23',),
 ('2018-01-24',),
 ('2018-01-25',),
 ('2018-01-26',),
 ('2018-01-27',),
 ('2018-01-28',),
 ('2018-01-29',),
 ('2018-01-30',),
 ('2018-01-31',),
 ('2018-02-01',),
 ('2018-02-02',),
 ('2018-02-03',),
 ('2018-02-04',),
 ('2018-02-05',),
 ('2018-02-06',),
 ('2018-02-07',),
 ('2018-02-08',),
 ('2018-02-09',),
 ('2018-02-10',),
 ('2018-02-11',),
 ('2018-02-12',),
 ('2018-02-13',),
 ('2018-02-14',),
 ('2018-02-15',),
 ('2018-02-16',),
 ('2018-02-17',),
 ('2018-02-18',),
 ('2018-02-19',),
 ('2018-02-20',),
 ('2018-02-21',),
 ('2018-02-22',),
 ('2018-02-23',),
 ('2018-02-24',),
 ('2018-02-25',),
 ('2018-02-26',),
 ('2018-02-27',),
 ('2018-02-28',),
 ('2018-03-01',),
 ('2018-03-02',),
 ('2018-03-03',),
 ('2018-03-04',),
 ('2018-03-05',),
 ('2018-03-06',),
 ('2018-03-07',),
 ('2018-03-08',),
 ('2018-03-09',),
 ('2018-03-10',),
 ('2018-03-11',),
 ('2018-03-12',),
 ('2018-03-13',),
 ('2018-03-14',),
 ('2018-03-15',),
 ('2018-03-16',),
 ('2018-03-17',),
 ('2018-03-18',),
 ('2018-03-19',),
 ('2018-03-20',),
 ('2018-03-21',),
 ('2018-03-22',),
 ('2018-03-23',),
 ('2018-03-24',),
 ('2018-03-25',),
 ('2018-03-26',),
 ('2018-03-27',),
 ('2018-03-28',),
 ('2018-03-29',),
 ('2018-03-30',),
 ('2018-03-31',),
 ('2018-04-01',),
 ('2018-04-02',),
 ('2018-04-03',),
 ('2018-04-04',),
 ('2018-04-05',),
 ('2018-04-06',),
 ('2018-04-07',),
 ('2018-04-08',),
 ('2018-04-09',),
 ('2018-04-10',),
 ('2018-04-11',),
 ('2018-04-12',),
 ('2018-04-13',),
 ('2018-04-14',),
 ('2018-04-15',),
 ('2018-04-16',),
 ('2018-04-17',),
 ('2018-04-18',),
 ('2018-04-19',),
 ('2018-04-20',),
 ('2018-04-21',),
 ('2018-04-22',),
 ('2018-04-23',),
 ('2018-04-24',),
 ('2018-04-25',),
 ('2018-04-26',),
 ('2018-04-27',),
 ('2018-04-28',),
 ('2018-04-29',),
 ('2018-04-30',),
 ('2018-05-01',),
 ('2018-05-02',),
 ('2018-05-03',),
 ('2018-05-04',),
 ('2018-05-05',),
 ('2018-05-06',),
 ('2018-05-07',),
 ('2018-05-08',),
 ('2018-05-09',),
 ('2018-05-10',),
 ('2018-05-11',),
 ('2018-05-12',),
 ('2018-05-13',),
 ('2018-05-14',),
 ('2018-05-15',),
 ('2018-05-16',),
 ('2018-05-17',),
 ('2018-05-18',),
 ('2018-05-19',),
 ('2018-05-20',),
 ('2018-05-21',),
 ('2018-05-22',),
 ('2018-05-23',),
 ('2018-05-24',),
 ('2018-05-25',),
 ('2018-05-26',),
 ('2018-05-27',),
 ('2018-05-28',),
 ('2018-05-29',),
 ('2018-05-30',),
 ('2018-05-31',),
 ('2018-06-01',),
 ('2018-06-02',),
 ('2018-06-03',),
 ('2018-06-04',),
 ('2018-06-05',),
 ('2018-06-06',),
 ('2018-06-07',),
 ('2018-06-08',),
 ('2018-06-09',),
 ('2018-06-10',),
 ('2018-06-11',),
 ('2018-06-12',),
 ('2018-06-13',),
 ('2018-06-14',),
 ('2018-06-15',),
 ('2018-06-16',),
 ('2018-06-17',),
 ('2018-06-18',),
 ('2018-06-19',),
 ('2018-06-20',),
 ('2018-06-21',),
 ('2018-06-22',),
 ('2018-06-23',),
 ('2018-06-24',),
 ('2018-06-25',),
 ('2018-06-26',),
 ('2018-06-27',),
 ('2018-06-28',),
 ('2018-06-29',),
 ('2018-06-30',),
 ('2018-07-01',),
 ('2018-07-02',),
 ('2018-07-03',),
 ('2018-07-04',),
 ('2018-07-05',),
 ('2018-07-06',),
 ('2018-07-07',),
 ('2018-07-08',),
 ('2018-07-09',),
 ('2018-07-10',),
 ('2018-07-11',),
 ('2018-07-12',),
 ('2018-07-13',),
 ('2018-07-14',),
 ('2018-07-15',),
 ('2018-07-16',),
 ('2018-07-17',),
 ('2018-07-18',),
 ('2018-07-19',),
 ('2018-07-20',),
 ('2018-07-21',),
 ('2018-07-22',),
 ('2018-07-23',),
 ('2018-07-24',),
 ('2018-07-25',),
 ('2018-07-26',),
 ('2018-07-27',),
 ('2018-07-28',),
 ('2018-07-29',),
 ('2018-07-30',),
 ('2018-07-31',),
 ('2018-08-01',),
 ('2018-08-02',),
 ('2018-08-03',),
 ('2018-08-04',),
 ('2018-08-05',),
 ('2018-08-06',),
 ('2018-08-07',),
 ('2018-08-08',),
 ('2018-08-09',),
 ('2018-08-10',),
 ('2018-08-11',),
 ('2018-08-12',),
 ('2018-08-13',),
 ('2018-08-14',),
 ('2018-08-15',),
 ('2018-08-16',),
 ('2018-08-17',),
 ('2018-08-18',),
 ('2018-08-19',),
 ('2018-08-20',),
 ('2018-08-21',),
 ('2018-08-22',),
 ('2018-08-23',),
 ('2018-08-24',),
 ('2018-08-25',),
 ('2018-08-26',),
 ('2018-08-27',),
 ('2018-08-28',),
 ('2018-08-29',),
 ('2018-08-30',),
 ('2018-08-31',),
 ('2018-09-01',),
 ('2018-09-02',),
 ('2018-09-03',),
 ('2018-09-04',),
 ('2018-09-05',),
 ('2018-09-06',),
 ('2018-09-07',),
 ('2018-09-08',),
 ('2018-09-09',),
 ('2018-09-10',),
 ('2018-09-11',),
 ('2018-09-12',),
 ('2018-09-13',),
 ('2018-09-14',),
 ('2018-09-15',),
 ('2018-09-16',),
 ('2018-09-17',),
 ('2018-09-18',),
 ('2018-09-19',),
 ('2018-09-20',),
 ('2018-09-21',),
 ('2018-09-22',),
 ('2018-09-23',),
 ('2018-09-24',),
 ('2018-09-25',),
 ('2018-09-26',),
 ('2018-09-27',),
 ('2018-09-28',),
 ('2018-09-29',),
 ('2018-09-30',),
 ('2018-10-01',),
 ('2018-10-02',),
 ('2018-10-03',),
 ('2018-10-04',),
 ('2018-10-05',),
 ('2018-10-06',),
 ('2018-10-07',),
 ('2018-10-08',),
 ('2018-10-09',),
 ('2018-10-10',),
 ('2018-10-11',),
 ('2018-10-12',),
 ('2018-10-13',),
 ('2018-10-14',),
 ('2018-10-15',),
 ('2018-10-16',),
 ('2018-10-17',),
 ('2018-10-18',),
 ('2018-10-19',),
 ('2018-10-20',),
 ('2018-10-21',),
 ('2018-10-22',),
 ('2018-10-23',),
 ('2018-10-24',),
 ('2018-10-25',),
 ('2018-10-26',),
 ('2018-10-27',),
 ('2018-10-28',),
 ('2018-10-29',),
 ('2018-10-30',),
 ('2018-10-31',),
 ('2018-11-01',),
 ('2018-11-02',),
 ('2018-11-03',),
 ('2018-11-04',),
 ('2018-11-05',),
 ('2018-11-06',),
 ('2018-11-07',),
 ('2018-11-08',),
 ('2018-11-09',),
 ('2018-11-10',),
 ('2018-11-11',),
 ('2018-11-12',),
 ('2018-11-13',),
 ('2018-11-14',),
 ('2018-11-15',),
 ('2018-11-16',),
 ('2018-11-17',),
 ('2018-11-18',),
 ('2018-11-19',),
 ('2018-11-20',),
 ('2018-11-21',),
 ('2018-11-22',),
 ('2018-11-23',),
 ('2018-11-24',),
 ('2018-11-25',),
 ('2018-11-26',),
 ('2018-11-27',),
 ('2018-11-28',),
 ('2018-11-29',),
 ('2018-11-30',),
 ('2018-12-01',),
 ('2018-12-02',),
 ('2018-12-03',),
 ('2018-12-04',),
 ('2018-12-05',),
 ('2018-12-06',),
 ('2018-12-07',),
 ('2018-12-08',),
 ('2018-12-09',),
 ('2018-12-10',),
 ('2018-12-11',),
 ('2018-12-12',),
 ('2018-12-13',),
 ('2018-12-14',),
 ('2018-12-15',),
 ('2018-12-16',),
 ('2018-12-17',),
 ('2018-12-18',),
 ('2018-12-19',),
 ('2018-12-20',),
 ('2018-12-21',),
 ('2018-12-22',),
 ('2018-12-23',),
 ('2018-12-24',),
 ('2018-12-25',),
 ('2018-12-26',),
 ('2018-12-27',),
 ('2018-12-28',),
 ('2018-12-29',),
 ('2018-12-30',),
 ('2018-12-31',)]

Next, we can create another table that joins the Dates table with the OFFERS table and assigns an 'OFFER_ID' if the date falls within the offer period (between OFFER_START_DATE and OFFER_EXPIRATION_DATE) for each 'OFFER_ID'.

In [14]:
%%sql
WITH Dates AS (
    SELECT DATE('2018-01-01') AS DATE
    UNION ALL
    SELECT DATE(DATE, '+1 day') 
    FROM Dates
    WHERE DATE < '2018-12-31'
)
SELECT D.DATE, 
       O.OFFER_ID
FROM Dates D
LEFT JOIN OFFERS O 
    ON D.DATE BETWEEN O.OFFER_START_DATE AND O.OFFER_EXPIRATION_DATE;

 * sqlite:///DataBase.db
Done.

[('2018-01-01', 83942),
 ('2018-01-02', 83942),
 ('2018-01-03', 83942),
 ('2018-01-04', 83942),
 ('2018-01-05', 83942),
 ('2018-01-06', 83942),
 ('2018-01-07', 83942),
 ('2018-01-08', 83942),
 ('2018-01-09', 83942),
 ('2018-01-10', 83942),
 ('2018-01-11', 83942),
 ('2018-01-12', 83942),
 ('2018-01-13', 83942),
 ('2018-01-14', 83942),
 ('2018-01-15', 83942),
 ('2018-01-16', 83942),
 ('2018-01-17', 83942),
 ('2018-01-18', 83942),
 ('2018-01-19', 83942),
 ('2018-01-20', 83942),
 ('2018-01-21', 83942),
 ('2018-01-22', 83942),
 ('2018-01-23', 83942),
 ('2018-01-24', 83942),
 ('2018-01-25', 83942),
 ('2018-01-26', 83942),
 ('2018-01-27', 83942),
 ('2018-01-28', 83942),
 ('2018-01-29', 83942),
 ('2018-01-30', 83942),
 ('2018-01-31', 83942),
 ('2018-02-01', 83942),
 ('2018-02-02', None),
 ('2018-02-03', None),
 ('2018-02-04', None),
 ('2018-02-05', None),
 ('2018-02-06', None),
 ('2018-02-07', None),
 ('2018-02-08', None),
 ('2018-02-09', None),
 ('2018-02-10', None),
 ('2018-02-11', None),
 ('2018-02-12', None),
 ('2018-02-13', None),
 ('2018-02-14', None),
 ('2018-02-15', None),
 ('2018-02-16', None),
 ('2018-02-17', None),
 ('2018-02-18', None),
 ('2018-02-19', None),
 ('2018-02-20', None),
 ('2018-02-21', None),
 ('2018-02-22', None),
 ('2018-02-23', None),
 ('2018-02-24', None),
 ('2018-02-25', None),
 ('2018-02-26', None),
 ('2018-02-27', None),
 ('2018-02-28', None),
 ('2018-03-01', None),
 ('2018-03-02', None),
 ('2018-03-03', 94858),
 ('2018-03-04', 94858),
 ('2018-03-05', 94858),
 ('2018-03-06', 94858),
 ('2018-03-07', 94858),
 ('2018-03-08', 94858),
 ('2018-03-09', 94858),
 ('2018-03-10', 94858),
 ('2018-03-11', 94858),
 ('2018-03-12', 94858),
 ('2018-03-13', 94858),
 ('2018-03-14', 94858),
 ('2018-03-15', 94858),
 ('2018-03-16', 94858),
 ('2018-03-17', 94858),
 ('2018-03-18', 94858),
 ('2018-03-19', 94858),
 ('2018-03-20', 94858),
 ('2018-03-21', 94858),
 ('2018-03-22', 94858),
 ('2018-03-23', 94858),
 ('2018-03-24', 94858),
 ('2018-03-25', 94858),
 ('2018-03-26', 94858),
 ('2018-03-27', 94858),
 ('2018-03-28', 94858),
 ('2018-03-29', 94858),
 ('2018-03-30', 94858),
 ('2018-03-31', 94858),
 ('2018-04-01', 94858),
 ('2018-04-02', 94858),
 ('2018-04-03', 94858),
 ('2018-04-04', 94858),
 ('2018-04-05', 94858),
 ('2018-04-06', 94858),
 ('2018-04-07', 94858),
 ('2018-04-08', 94858),
 ('2018-04-09', 94858),
 ('2018-04-10', 94858),
 ('2018-04-11', 94858),
 ('2018-04-12', 94858),
 ('2018-04-13', 94858),
 ('2018-04-14', 94858),
 ('2018-04-15', 94858),
 ('2018-04-16', 94858),
 ('2018-04-17', 94858),
 ('2018-04-18', 94858),
 ('2018-04-19', 94858),
 ('2018-04-20', 94858),
 ('2018-04-21', 94858),
 ('2018-04-22', 94858),
 ('2018-04-23', 94858),
 ('2018-04-24', 94858),
 ('2018-04-25', 94858),
 ('2018-04-26', 94858),
 ('2018-04-27', 94858),
 ('2018-04-28', 94858),
 ('2018-04-29', 94858),
 ('2018-04-30', 94858),
 ('2018-05-01', 94858),
 ('2018-05-02', 94858),
 ('2018-05-03', 94858),
 ('2018-05-03', 94859),
 ('2018-05-04', 94858),
 ('2018-05-04', 94859),
 ('2018-05-05', 94858),
 ('2018-05-05', 94859),
 ('2018-05-06', 94858),
 ('2018-05-06', 94859),
 ('2018-05-07', 94858),
 ('2018-05-07', 94859),
 ('2018-05-08', 94858),
 ('2018-05-08', 94859),
 ('2018-05-09', 94858),
 ('2018-05-09', 94859),
 ('2018-05-10', 94858),
 ('2018-05-10', 94859),
 ('2018-05-11', 94858),
 ('2018-05-11', 94859),
 ('2018-05-12', 94858),
 ('2018-05-12', 94859),
 ('2018-05-13', 94858),
 ('2018-05-13', 94859),
 ('2018-05-14', 94858),
 ('2018-05-14', 94859),
 ('2018-05-15', 94858),
 ('2018-05-15', 94859),
 ('2018-05-16', 94858),
 ('2018-05-16', 94859),
 ('2018-05-17', 94858),
 ('2018-05-17', 94859),
 ('2018-05-18', 94858),
 ('2018-05-18', 94859),
 ('2018-05-19', 94858),
 ('2018-05-19', 94859),
 ('2018-05-20', 94858),
 ('2018-05-20', 94859),
 ('2018-05-21', 94858),
 ('2018-05-21', 94859),
 ('2018-05-22', 94858),
 ('2018-05-22', 94859),
 ('2018-05-23', 94858),
 ('2018-05-23', 94859),
 ('2018-05-24', 94858),
 ('2018-05-24', 94859),
 ('2018-05-25', 94858),
 ('2018-05-25', 94859),
 ('2018-05-26', 94858),
 ('2018-05-26', 94859),
 ('2018-05-27', 94858),
 ('2018-05-27', 94859),
 ('2018-05-28', 94858),
 ('2018-05-28', 94859),
 ('2018-05-29', 94858),
 ('2018-05-29', 94859),
 ('2018-05-30', 94858),
 ('2018-05-30', 94859),
 ('2018-05-31', 94858),
 ('2018-05-31', 94859),
 ('2018-06-01', 94858),
 ('2018-06-01', 94859),
 ('2018-06-02', 94858),
 ('2018-06-02', 94859),
 ('2018-06-03', 94858),
 ('2018-06-03', 94859),
 ('2018-06-04', 94858),
 ('2018-06-04', 94859),
 ('2018-06-05', 94858),
 ('2018-06-05', 94859),
 ('2018-06-06', 94858),
 ('2018-06-06', 94859),
 ('2018-06-07', 94858),
 ('2018-06-07', 94859),
 ('2018-06-08', 94858),
 ('2018-06-08', 94859),
 ('2018-06-09', 94858),
 ('2018-06-09', 94859),
 ('2018-06-10', 94858),
 ('2018-06-10', 94859),
 ('2018-06-11', 94858),
 ('2018-06-11', 94859),
 ('2018-06-12', 94858),
 ('2018-06-12', 94859),
 ('2018-06-13', 94858),
 ('2018-06-13', 94859),
 ('2018-06-14', 94858),
 ('2018-06-14', 94859),
 ('2018-06-15', 94858),
 ('2018-06-15', 94859),
 ('2018-06-16', 94858),
 ('2018-06-16', 94859),
 ('2018-06-17', 94858),
 ('2018-06-17', 94859),
 ('2018-06-18', 94858),
 ('2018-06-18', 94859),
 ('2018-06-19', 94858),
 ('2018-06-19', 94859),
 ('2018-06-20', 94858),
 ('2018-06-20', 94859),
 ('2018-06-21', 94858),
 ('2018-06-21', 94859),
 ('2018-06-22', 94858),
 ('2018-06-22', 94859),
 ('2018-06-23', 94858),
 ('2018-06-23', 94859),
 ('2018-06-24', 94858),
 ('2018-06-24', 94859),
 ('2018-06-25', 94858),
 ('2018-06-25', 94859),
 ('2018-06-26', 94858),
 ('2018-06-26', 94859),
 ('2018-06-27', 94858),
 ('2018-06-27', 94859),
 ('2018-06-28', 94858),
 ('2018-06-28', 94859),
 ('2018-06-29', 94858),
 ('2018-06-29', 94859),
 ('2018-06-30', 94858),
 ('2018-06-30', 94859),
 ('2018-07-01', 94858),
 ('2018-07-01', 94859),
 ('2018-07-02', 94858),
 ('2018-07-02', 94859),
 ('2018-07-03', 94858),
 ('2018-07-03', 94859),
 ('2018-07-04', 94858),
 ('2018-07-04', 94859),
 ('2018-07-05', 94858),
 ('2018-07-05', 94859),
 ('2018-07-06', 94858),
 ('2018-07-06', 94859),
 ('2018-07-07', 94858),
 ('2018-07-07', 94859),
 ('2018-07-08', 94858),
 ('2018-07-08', 94859),
 ('2018-07-09', 94858),
 ('2018-07-09', 94859),
 ('2018-07-10', 94858),
 ('2018-07-10', 94859),
 ('2018-07-11', 94858),
 ('2018-07-11', 94859),
 ('2018-07-12', 94858),
 ('2018-07-12', 94859),
 ('2018-07-13', 94858),
 ('2018-07-13', 94859),
 ('2018-07-14', 94858),
 ('2018-07-14', 94859),
 ('2018-07-15', 94858),
 ('2018-07-15', 94859),
 ('2018-07-16', 94858),
 ('2018-07-16', 94859),
 ('2018-07-17', 94858),
 ('2018-07-17', 94859),
 ('2018-07-18', 94858),
 ('2018-07-18', 94859),
 ('2018-07-19', 94858),
 ('2018-07-19', 94859),
 ('2018-07-20', 94859),
 ('2018-07-21', 94859),
 ('2018-07-22', 94859),
 ('2018-07-23', 94859),
 ('2018-07-24', 94859),
 ('2018-07-25', 94859),
 ('2018-07-26', 94859),
 ('2018-07-27', 94859),
 ('2018-07-28', 94859),
 ('2018-07-29', 94859),
 ('2018-07-30', 94859),
 ('2018-07-31', 94859),
 ('2018-08-01', 94859),
 ('2018-08-02', 94859),
 ('2018-08-03', 94859),
 ('2018-08-04', 94859),
 ('2018-08-05', 94859),
 ('2018-08-06', 94859),
 ('2018-08-07', 94859),
 ('2018-08-08', 94859),
 ('2018-08-09', 94859),
 ('2018-08-10', 94859),
 ('2018-08-11', 94859),
 ('2018-08-12', 94859),
 ('2018-08-13', 94859),
 ('2018-08-14', 94859),
 ('2018-08-15', 94859),
 ('2018-08-16', 94859),
 ('2018-08-17', 94859),
 ('2018-08-18', 94859),
 ('2018-08-19', 94859),
 ('2018-08-20', 94859),
 ('2018-08-21', 94859),
 ('2018-08-22', 94859),
 ('2018-08-23', 94859),
 ('2018-08-24', 94859),
 ('2018-08-25', 94859),
 ('2018-08-26', 94859),
 ('2018-08-27', 94859),
 ('2018-08-28', 94859),
 ('2018-08-29', 94859),
 ('2018-08-30', 94859),
 ('2018-08-31', 94859),
 ('2018-09-01', 94859),
 ('2018-09-02', 94859),
 ('2018-09-03', 94859),
 ('2018-09-04', 94859),
 ('2018-09-05', 94859),
 ('2018-09-06', 94859),
 ('2018-09-07', 94859),
 ('2018-09-08', 94859),
 ('2018-09-09', 94859),
 ('2018-09-10', 94859),
 ('2018-09-11', 94859),
 ('2018-09-12', 94859),
 ('2018-09-13', 94859),
 ('2018-09-14', 94859),
 ('2018-09-15', 94859),
 ('2018-09-16', 94859),
 ('2018-09-17', 94859),
 ('2018-09-18', 94859),
 ('2018-09-19', 94859),
 ('2018-09-20', 94859),
 ('2018-09-21', 94859),
 ('2018-09-22', 94859),
 ('2018-09-23', 94859),
 ('2018-09-24', 94859),
 ('2018-09-25', 94859),
 ('2018-09-26', 94859),
 ('2018-09-27', 94859),
 ('2018-09-28', 94859),
 ('2018-09-29', 94859),
 ('2018-09-30', 94859),
 ('2018-10-01', 94859),
 ('2018-10-02', 94859),
 ('2018-10-03', 94859),
 ('2018-10-04', 94859),
 ('2018-10-05', 94859),
 ('2018-10-06', 94859),
 ('2018-10-07', 94859),
 ('2018-10-08', 94859),
 ('2018-10-09', 94859),
 ('2018-10-10', 94859),
 ('2018-10-11', 94859),
 ('2018-10-12', 94859),
 ('2018-10-13', 94859),
 ('2018-10-14', 94859),
 ('2018-10-15', 94859),
 ('2018-10-16', 94859),
 ('2018-10-17', 94859),
 ('2018-10-18', 94859),
 ('2018-10-19', 94859),
 ('2018-10-20', None),
 ('2018-10-21', None),
 ('2018-10-22', None),
 ('2018-10-23', None),
 ('2018-10-24', None),
 ('2018-10-25', None),
 ('2018-10-26', None),
 ('2018-10-27', None),
 ('2018-10-28', None),
 ('2018-10-29', None),
 ('2018-10-30', None),
 ('2018-10-31', None),
 ('2018-11-01', None),
 ('2018-11-02', None),
 ('2018-11-03', None),
 ('2018-11-04', None),
 ('2018-11-05', None),
 ('2018-11-06', None),
 ('2018-11-07', None),
 ('2018-11-08', None),
 ('2018-11-09', None),
 ('2018-11-10', None),
 ('2018-11-11', None),
 ('2018-11-12', None),
 ('2018-11-13', None),
 ('2018-11-14', None),
 ('2018-11-15', None),
 ('2018-11-16', None),
 ('2018-11-17', None),
 ('2018-11-18', None),
 ('2018-11-19', None),
 ('2018-11-20', None),
 ('2018-11-21', None),
 ('2018-11-22', None),
 ('2018-11-23', None),
 ('2018-11-24', None),
 ('2018-11-25', None),
 ('2018-11-26', None),
 ('2018-11-27', None),
 ('2018-11-28', None),
 ('2018-11-29', None),
 ('2018-11-30', None),
 ('2018-12-01', None),
 ('2018-12-02', None),
 ('2018-12-03', None),
 ('2018-12-04', None),
 ('2018-12-05', None),
 ('2018-12-06', None),
 ('2018-12-07', None),
 ('2018-12-08', None),
 ('2018-12-09', None),
 ('2018-12-10', None),
 ('2018-12-11', None),
 ('2018-12-12', None),
 ('2018-12-13', None),
 ('2018-12-14', None),
 ('2018-12-15', None),
 ('2018-12-16', None),
 ('2018-12-17', None),
 ('2018-12-18', None),
 ('2018-12-19', None),
 ('2018-12-20', None),
 ('2018-12-21', None),
 ('2018-12-22', None),
 ('2018-12-23', None),
 ('2018-12-24', None),
 ('2018-12-25', None),
 ('2018-12-26', None),
 ('2018-12-27', None),
 ('2018-12-28', None),
 ('2018-12-29', None),
 ('2018-12-30', None),
 ('2018-12-31', None)]

Finally, we can query the resulting table (OfferCounts) to get the count of 'OFFER_ID' for each date.

In [18]:
%%sql
WITH Dates AS (
    SELECT DATE('2018-01-01') AS DATE
    UNION ALL
    SELECT DATE(DATE, '+1 day') 
    FROM Dates
    WHERE DATE < '2018-12-31'
)
SELECT D.DATE,
       COUNT(O.OFFER_ID) AS ACTIVE_OFFER_COUNT
FROM Dates D
LEFT JOIN OFFERS O 
    ON D.DATE BETWEEN O.OFFER_START_DATE AND O.OFFER_EXPIRATION_DATE
GROUP BY D.DATE;

 * sqlite:///DataBase.db
Done.

[('2018-01-01', 1),
 ('2018-01-02', 1),
 ('2018-01-03', 1),
 ('2018-01-04', 1),
 ('2018-01-05', 1),
 ('2018-01-06', 1),
 ('2018-01-07', 1),
 ('2018-01-08', 1),
 ('2018-01-09', 1),
 ('2018-01-10', 1),
 ('2018-01-11', 1),
 ('2018-01-12', 1),
 ('2018-01-13', 1),
 ('2018-01-14', 1),
 ('2018-01-15', 1),
 ('2018-01-16', 1),
 ('2018-01-17', 1),
 ('2018-01-18', 1),
 ('2018-01-19', 1),
 ('2018-01-20', 1),
 ('2018-01-21', 1),
 ('2018-01-22', 1),
 ('2018-01-23', 1),
 ('2018-01-24', 1),
 ('2018-01-25', 1),
 ('2018-01-26', 1),
 ('2018-01-27', 1),
 ('2018-01-28', 1),
 ('2018-01-29', 1),
 ('2018-01-30', 1),
 ('2018-01-31', 1),
 ('2018-02-01', 1),
 ('2018-02-02', 0),
 ('2018-02-03', 0),
 ('2018-02-04', 0),
 ('2018-02-05', 0),
 ('2018-02-06', 0),
 ('2018-02-07', 0),
 ('2018-02-08', 0),
 ('2018-02-09', 0),
 ('2018-02-10', 0),
 ('2018-02-11', 0),
 ('2018-02-12', 0),
 ('2018-02-13', 0),
 ('2018-02-14', 0),
 ('2018-02-15', 0),
 ('2018-02-16', 0),
 ('2018-02-17', 0),
 ('2018-02-18', 0),
 ('2018-02-19', 0),
 ('2018-02-20', 0),
 ('2018-02-21', 0),
 ('2018-02-22', 0),
 ('2018-02-23', 0),
 ('2018-02-24', 0),
 ('2018-02-25', 0),
 ('2018-02-26', 0),
 ('2018-02-27', 0),
 ('2018-02-28', 0),
 ('2018-03-01', 0),
 ('2018-03-02', 0),
 ('2018-03-03', 1),
 ('2018-03-04', 1),
 ('2018-03-05', 1),
 ('2018-03-06', 1),
 ('2018-03-07', 1),
 ('2018-03-08', 1),
 ('2018-03-09', 1),
 ('2018-03-10', 1),
 ('2018-03-11', 1),
 ('2018-03-12', 1),
 ('2018-03-13', 1),
 ('2018-03-14', 1),
 ('2018-03-15', 1),
 ('2018-03-16', 1),
 ('2018-03-17', 1),
 ('2018-03-18', 1),
 ('2018-03-19', 1),
 ('2018-03-20', 1),
 ('2018-03-21', 1),
 ('2018-03-22', 1),
 ('2018-03-23', 1),
 ('2018-03-24', 1),
 ('2018-03-25', 1),
 ('2018-03-26', 1),
 ('2018-03-27', 1),
 ('2018-03-28', 1),
 ('2018-03-29', 1),
 ('2018-03-30', 1),
 ('2018-03-31', 1),
 ('2018-04-01', 1),
 ('2018-04-02', 1),
 ('2018-04-03', 1),
 ('2018-04-04', 1),
 ('2018-04-05', 1),
 ('2018-04-06', 1),
 ('2018-04-07', 1),
 ('2018-04-08', 1),
 ('2018-04-09', 1),
 ('2018-04-10', 1),
 ('2018-04-11', 1),
 ('2018-04-12', 1),
 ('2018-04-13', 1),
 ('2018-04-14', 1),
 ('2018-04-15', 1),
 ('2018-04-16', 1),
 ('2018-04-17', 1),
 ('2018-04-18', 1),
 ('2018-04-19', 1),
 ('2018-04-20', 1),
 ('2018-04-21', 1),
 ('2018-04-22', 1),
 ('2018-04-23', 1),
 ('2018-04-24', 1),
 ('2018-04-25', 1),
 ('2018-04-26', 1),
 ('2018-04-27', 1),
 ('2018-04-28', 1),
 ('2018-04-29', 1),
 ('2018-04-30', 1),
 ('2018-05-01', 1),
 ('2018-05-02', 1),
 ('2018-05-03', 2),
 ('2018-05-04', 2),
 ('2018-05-05', 2),
 ('2018-05-06', 2),
 ('2018-05-07', 2),
 ('2018-05-08', 2),
 ('2018-05-09', 2),
 ('2018-05-10', 2),
 ('2018-05-11', 2),
 ('2018-05-12', 2),
 ('2018-05-13', 2),
 ('2018-05-14', 2),
 ('2018-05-15', 2),
 ('2018-05-16', 2),
 ('2018-05-17', 2),
 ('2018-05-18', 2),
 ('2018-05-19', 2),
 ('2018-05-20', 2),
 ('2018-05-21', 2),
 ('2018-05-22', 2),
 ('2018-05-23', 2),
 ('2018-05-24', 2),
 ('2018-05-25', 2),
 ('2018-05-26', 2),
 ('2018-05-27', 2),
 ('2018-05-28', 2),
 ('2018-05-29', 2),
 ('2018-05-30', 2),
 ('2018-05-31', 2),
 ('2018-06-01', 2),
 ('2018-06-02', 2),
 ('2018-06-03', 2),
 ('2018-06-04', 2),
 ('2018-06-05', 2),
 ('2018-06-06', 2),
 ('2018-06-07', 2),
 ('2018-06-08', 2),
 ('2018-06-09', 2),
 ('2018-06-10', 2),
 ('2018-06-11', 2),
 ('2018-06-12', 2),
 ('2018-06-13', 2),
 ('2018-06-14', 2),
 ('2018-06-15', 2),
 ('2018-06-16', 2),
 ('2018-06-17', 2),
 ('2018-06-18', 2),
 ('2018-06-19', 2),
 ('2018-06-20', 2),
 ('2018-06-21', 2),
 ('2018-06-22', 2),
 ('2018-06-23', 2),
 ('2018-06-24', 2),
 ('2018-06-25', 2),
 ('2018-06-26', 2),
 ('2018-06-27', 2),
 ('2018-06-28', 2),
 ('2018-06-29', 2),
 ('2018-06-30', 2),
 ('2018-07-01', 2),
 ('2018-07-02', 2),
 ('2018-07-03', 2),
 ('2018-07-04', 2),
 ('2018-07-05', 2),
 ('2018-07-06', 2),
 ('2018-07-07', 2),
 ('2018-07-08', 2),
 ('2018-07-09', 2),
 ('2018-07-10', 2),
 ('2018-07-11', 2),
 ('2018-07-12', 2),
 ('2018-07-13', 2),
 ('2018-07-14', 2),
 ('2018-07-15', 2),
 ('2018-07-16', 2),
 ('2018-07-17', 2),
 ('2018-07-18', 2),
 ('2018-07-19', 2),
 ('2018-07-20', 1),
 ('2018-07-21', 1),
 ('2018-07-22', 1),
 ('2018-07-23', 1),
 ('2018-07-24', 1),
 ('2018-07-25', 1),
 ('2018-07-26', 1),
 ('2018-07-27', 1),
 ('2018-07-28', 1),
 ('2018-07-29', 1),
 ('2018-07-30', 1),
 ('2018-07-31', 1),
 ('2018-08-01', 1),
 ('2018-08-02', 1),
 ('2018-08-03', 1),
 ('2018-08-04', 1),
 ('2018-08-05', 1),
 ('2018-08-06', 1),
 ('2018-08-07', 1),
 ('2018-08-08', 1),
 ('2018-08-09', 1),
 ('2018-08-10', 1),
 ('2018-08-11', 1),
 ('2018-08-12', 1),
 ('2018-08-13', 1),
 ('2018-08-14', 1),
 ('2018-08-15', 1),
 ('2018-08-16', 1),
 ('2018-08-17', 1),
 ('2018-08-18', 1),
 ('2018-08-19', 1),
 ('2018-08-20', 1),
 ('2018-08-21', 1),
 ('2018-08-22', 1),
 ('2018-08-23', 1),
 ('2018-08-24', 1),
 ('2018-08-25', 1),
 ('2018-08-26', 1),
 ('2018-08-27', 1),
 ('2018-08-28', 1),
 ('2018-08-29', 1),
 ('2018-08-30', 1),
 ('2018-08-31', 1),
 ('2018-09-01', 1),
 ('2018-09-02', 1),
 ('2018-09-03', 1),
 ('2018-09-04', 1),
 ('2018-09-05', 1),
 ('2018-09-06', 1),
 ('2018-09-07', 1),
 ('2018-09-08', 1),
 ('2018-09-09', 1),
 ('2018-09-10', 1),
 ('2018-09-11', 1),
 ('2018-09-12', 1),
 ('2018-09-13', 1),
 ('2018-09-14', 1),
 ('2018-09-15', 1),
 ('2018-09-16', 1),
 ('2018-09-17', 1),
 ('2018-09-18', 1),
 ('2018-09-19', 1),
 ('2018-09-20', 1),
 ('2018-09-21', 1),
 ('2018-09-22', 1),
 ('2018-09-23', 1),
 ('2018-09-24', 1),
 ('2018-09-25', 1),
 ('2018-09-26', 1),
 ('2018-09-27', 1),
 ('2018-09-28', 1),
 ('2018-09-29', 1),
 ('2018-09-30', 1),
 ('2018-10-01', 1),
 ('2018-10-02', 1),
 ('2018-10-03', 1),
 ('2018-10-04', 1),
 ('2018-10-05', 1),
 ('2018-10-06', 1),
 ('2018-10-07', 1),
 ('2018-10-08', 1),
 ('2018-10-09', 1),
 ('2018-10-10', 1),
 ('2018-10-11', 1),
 ('2018-10-12', 1),
 ('2018-10-13', 1),
 ('2018-10-14', 1),
 ('2018-10-15', 1),
 ('2018-10-16', 1),
 ('2018-10-17', 1),
 ('2018-10-18', 1),
 ('2018-10-19', 1),
 ('2018-10-20', 0),
 ('2018-10-21', 0),
 ('2018-10-22', 0),
 ('2018-10-23', 0),
 ('2018-10-24', 0),
 ('2018-10-25', 0),
 ('2018-10-26', 0),
 ('2018-10-27', 0),
 ('2018-10-28', 0),
 ('2018-10-29', 0),
 ('2018-10-30', 0),
 ('2018-10-31', 0),
 ('2018-11-01', 0),
 ('2018-11-02', 0),
 ('2018-11-03', 0),
 ('2018-11-04', 0),
 ('2018-11-05', 0),
 ('2018-11-06', 0),
 ('2018-11-07', 0),
 ('2018-11-08', 0),
 ('2018-11-09', 0),
 ('2018-11-10', 0),
 ('2018-11-11', 0),
 ('2018-11-12', 0),
 ('2018-11-13', 0),
 ('2018-11-14', 0),
 ('2018-11-15', 0),
 ('2018-11-16', 0),
 ('2018-11-17', 0),
 ('2018-11-18', 0),
 ('2018-11-19', 0),
 ('2018-11-20', 0),
 ('2018-11-21', 0),
 ('2018-11-22', 0),
 ('2018-11-23', 0),
 ('2018-11-24', 0),
 ('2018-11-25', 0),
 ('2018-11-26', 0),
 ('2018-11-27', 0),
 ('2018-11-28', 0),
 ('2018-11-29', 0),
 ('2018-11-30', 0),
 ('2018-12-01', 0),
 ('2018-12-02', 0),
 ('2018-12-03', 0),
 ('2018-12-04', 0),
 ('2018-12-05', 0),
 ('2018-12-06', 0),
 ('2018-12-07', 0),
 ('2018-12-08', 0),
 ('2018-12-09', 0),
 ('2018-12-10', 0),
 ('2018-12-11', 0),
 ('2018-12-12', 0),
 ('2018-12-13', 0),
 ('2018-12-14', 0),
 ('2018-12-15', 0),
 ('2018-12-16', 0),
 ('2018-12-17', 0),
 ('2018-12-18', 0),
 ('2018-12-19', 0),
 ('2018-12-20', 0),
 ('2018-12-21', 0),
 ('2018-12-22', 0),
 ('2018-12-23', 0),
 ('2018-12-24', 0),
 ('2018-12-25', 0),
 ('2018-12-26', 0),
 ('2018-12-27', 0),
 ('2018-12-28', 0),
 ('2018-12-29', 0),
 ('2018-12-30', 0),
 ('2018-12-31', 0)]

#### 3. The third task

<b>Data Description</b>: The CARDS table contains information about all the bank's customers' cards. Attributes include customer identifier (client_id), card identifier (card_id), card issue date (open_date), card closure date (close_date), and card type - debit (DC) or credit (CC) (card_type).

<b>Task</b>: Select the debit card of a customer, among all working debit cards on the date 2018-09-01, which was issued last. Output format: client_id, card_id.

| CLIENT_ID | CARD_ID     | OPEN_DATE  | CLOSE_DATE | CARD_TYPE |
|-----------|------------|------------|------------|-----------|
| 1232110   | 49582985729 | 2019-01-12 | NULL       | DC        |
| 234235    | 48574092749 | 2017-03-29 | 2018-09-01 | CC        |
| ...       | ...        | ...        | ...        | ...       |

Let's first look at our initial table.

In [5]:
%%sql 
SELECT * 
FROM CARDS

 * sqlite:///DataBase.db
Done.

[(1232110, 49582985729, '2019-01-12', None, 'DC'),
 (234235, 48574092749, '2017-03-29', '2018-09-01', 'DC'),
 (234235, 485742749, '2017-10-29', '2018-01-01', 'DC'),
 (234235, 43, '2017-10-29', '2019-03-03', 'DC'),
 (234235, 4857409279, '2017-03-29', '2018-09-01', 'CC'),
 (234235, 48574274, '2017-10-29', '2019-09-01', 'CC'),
 (234235, 4857427, '2017-10-29', '2019-03-03', 'CC'),
 (1232110, 495885729, '2018-01-12', '2018-09-01', 'DC'),
 (1232110, 49, '2017-01-12', '2019-01-01', 'DC'),
 (1232110, 4958572, '2018-01-11', '2019-01-02', 'DC'),
 (1232110, 4958729, '2018-01-12', '2019-10-03', 'DC'),
 (234235, 4854274, '2017-07-29', '2019-01-03', 'DC'),
 (234235, 484274, '2017-03-29', '2020-01-03', 'DC')]

Then, cut off irrelevant data.

In [11]:
%%sql
SELECT *
FROM CARDS
WHERE CARD_TYPE = 'DC'
    AND OPEN_DATE <= '2018-09-01' 
    AND (CLOSE_DATE IS NULL OR CLOSE_DATE > '2018-09-01')
ORDER BY OPEN_DATE DESC;

 * sqlite:///DataBase.db
Done.

[(1232110, 4958729, '2018-01-12', '2019-10-03', 'DC'),
 (1232110, 4958572, '2018-01-11', '2019-01-02', 'DC'),
 (234235, 43, '2017-10-29', '2019-03-03', 'DC'),
 (234235, 4854274, '2017-07-29', '2019-01-03', 'DC'),
 (234235, 484274, '2017-03-29', '2020-01-03', 'DC'),
 (1232110, 49, '2017-01-12', '2019-01-01', 'DC')]

And finally, group it by 'CLIENT_ID' having the maximum 'OPEN_DATE'.

In [25]:
%%sql
SELECT CLIENT_ID, CARD_ID
FROM CARDS
WHERE CARD_TYPE = 'DC'
    AND OPEN_DATE <= '2018-09-01' 
    AND (CLOSE_DATE IS NULL OR CLOSE_DATE > '2018-09-01')
GROUP BY CLIENT_ID
HAVING OPEN_DATE = MAX(OPEN_DATE)

 * sqlite:///DataBase.db
Done.

[(234235, 43), (1232110, 4958729)]

#### 4. The fourth task

<b>Description of the data</b>: The BONUS table contains information about bonus points awarded for purchases under the loyalty program. Attributes: client identifier (client_id), date of bonus accrual (bonus_date), the amount of accrued bonuses (bonus_cnt), the MCC code of the transaction for which the bonuses were accrued (mcc_code). The MCC_CATEGORIES table is a reference of MCC codes. Attributes: MCC code (mcc_code), category (e.g., supermarkets, transportation, pharmacies, etc., mcc_category). 

<b>Task</b>: Indicate 1000 clients who were the first to accumulate 1000 bonus points for purchases in the "Airline Tickets" and "Hotels" categories.

CLIENT_ID | BONUS_DATE | BONUS_CNT | MCC_CODE
--------- | ---------- | --------- | --------
1232110   | 2018-01-01 | 12        | 3617
234235    | 2018-06-17 | 5         | 5931
...       | ...        | ...       | ...

MCC_CODE | MCC_CATEGORY
-------- | -------------
3031     | Авиабилеты
5735     | Музыка
...      | ...

First, let's join 2 tables.

In [7]:
%%sql
SELECT *
FROM
    BONUS AS b
JOIN
    MCC_CATEGORIES AS m
ON
    b.mcc_code = m.mcc_code

 * sqlite:///DataBase.db
Done.

[(1, '2018-01-01', 12, 1, 1, 'Avia'),
 (2, '2018-06-17', 5, 2, 2, 'Music'),
 (3, '2018-06-18', 15, 3, 3, 'Hotels'),
 (4, '2018-01-04', 6, 1, 1, 'Avia'),
 (5, '2018-09-11', 34, 2, 2, 'Music'),
 (6, '2018-01-10', 26, 3, 3, 'Hotels'),
 (7, '2018-07-17', 74, 1, 1, 'Avia'),
 (8, '2018-09-18', 32, 3, 3, 'Hotels'),
 (9, '2018-02-04', 12, 1, 1, 'Avia'),
 (10, '2018-12-11', 43, 3, 3, 'Hotels'),
 (1, '2018-01-01', 12, 1, 1, 'Avia'),
 (2, '2018-06-01', 25, 1, 1, 'Avia'),
 (3, '2018-06-01', 15, 3, 3, 'Hotels'),
 (4, '2018-11-04', 36, 1, 1, 'Avia'),
 (5, '2018-12-11', 34, 3, 3, 'Hotels'),
 (6, '2018-01-19', 26, 3, 3, 'Hotels'),
 (7, '2018-07-07', 24, 1, 1, 'Avia'),
 (8, '2018-09-08', 32, 3, 3, 'Hotels'),
 (9, '2018-02-14', 12, 1, 1, 'Avia'),
 (10, '2018-02-11', 43, 3, 3, 'Hotels'),
 (1, '2018-01-01', 12, 1, 1, 'Avia'),
 (2, '2018-06-01', 45, 1, 1, 'Avia'),
 (3, '2018-06-01', 15, 3, 3, 'Hotels'),
 (4, '2018-11-04', 46, 1, 1, 'Avia'),
 (5, '2018-12-11', 34, 3, 3, 'Hotels'),
 (6, '2018-01-19', 26, 3, 3, 'Hotels'),
 (7, '2018-07-07', 24, 1, 1, 'Avia'),
 (8, '2018-09-08', 32, 3, 3, 'Hotels'),
 (9, '2018-02-14', 19, 1, 1, 'Avia'),
 (10, '2018-02-11', 43, 3, 3, 'Hotels'),
 (1, '2018-01-18', 12, 1, 1, 'Avia'),
 (2, '2018-06-21', 45, 1, 1, 'Avia'),
 (3, '2018-06-30', 15, 3, 3, 'Hotels'),
 (4, '2018-01-14', 46, 1, 1, 'Avia'),
 (5, '2018-12-10', 34, 3, 3, 'Hotels'),
 (6, '2018-01-11', 26, 3, 3, 'Hotels'),
 (7, '2018-07-17', 24, 1, 1, 'Avia'),
 (8, '2018-09-28', 32, 3, 3, 'Hotels'),
 (9, '2018-02-16', 29, 1, 1, 'Avia'),
 (10, '2018-12-01', 43, 3, 3, 'Hotels')]

And keep only 'Avia' and 'Hotels' categories.

In [15]:
%%sql
SELECT b.CLIENT_ID, b.BONUS_DATE, b.BONUS_CNT, m.MCC_CATEGORY
FROM BONUS AS b
JOIN MCC_CATEGORIES AS m
    ON b.MCC_CODE = m.MCC_CODE
WHERE m.MCC_CATEGORY IN ('Avia', 'Hotels')
ORDER BY b.BONUS_DATE

 * sqlite:///DataBase.db
Done.

[(1, '2018-01-01', 12, 'Avia'),
 (1, '2018-01-01', 12, 'Avia'),
 (1, '2018-01-01', 12, 'Avia'),
 (4, '2018-01-04', 6, 'Avia'),
 (6, '2018-01-10', 26, 'Hotels'),
 (6, '2018-01-11', 26, 'Hotels'),
 (4, '2018-01-14', 46, 'Avia'),
 (1, '2018-01-18', 12, 'Avia'),
 (6, '2018-01-19', 26, 'Hotels'),
 (6, '2018-01-19', 26, 'Hotels'),
 (9, '2018-02-04', 12, 'Avia'),
 (10, '2018-02-11', 43, 'Hotels'),
 (10, '2018-02-11', 43, 'Hotels'),
 (9, '2018-02-14', 12, 'Avia'),
 (9, '2018-02-14', 19, 'Avia'),
 (9, '2018-02-16', 29, 'Avia'),
 (2, '2018-06-01', 25, 'Avia'),
 (3, '2018-06-01', 15, 'Hotels'),
 (2, '2018-06-01', 45, 'Avia'),
 (3, '2018-06-01', 15, 'Hotels'),
 (3, '2018-06-18', 15, 'Hotels'),
 (2, '2018-06-21', 45, 'Avia'),
 (3, '2018-06-30', 15, 'Hotels'),
 (7, '2018-07-07', 24, 'Avia'),
 (7, '2018-07-07', 24, 'Avia'),
 (7, '2018-07-17', 74, 'Avia'),
 (7, '2018-07-17', 24, 'Avia'),
 (8, '2018-09-08', 32, 'Hotels'),
 (8, '2018-09-08', 32, 'Hotels'),
 (8, '2018-09-18', 32, 'Hotels'),
 (8, '2018-09-28', 32, 'Hotels'),
 (4, '2018-11-04', 36, 'Avia'),
 (4, '2018-11-04', 46, 'Avia'),
 (10, '2018-12-01', 43, 'Hotels'),
 (5, '2018-12-10', 34, 'Hotels'),
 (10, '2018-12-11', 43, 'Hotels'),
 (5, '2018-12-11', 34, 'Hotels'),
 (5, '2018-12-11', 34, 'Hotels')]

Then, sum bonuses for each CLIENT_ID over BONUS_DATE

In [24]:
%%sql
SELECT
    CLIENT_ID,
    BONUS_DATE,
    BONUS_CNT,
    MCC_CATEGORY,
    SUM(BONUS_CNT) OVER (PARTITION BY CLIENT_ID ORDER BY BONUS_DATE) AS BON_SUM
FROM (
    SELECT b.CLIENT_ID, b.BONUS_DATE, b.BONUS_CNT, m.MCC_CATEGORY
    FROM BONUS AS b
    JOIN MCC_CATEGORIES AS m
        ON b.MCC_CODE = m.MCC_CODE
    WHERE m.MCC_CATEGORY IN ('Avia', 'Hotels')
    ORDER BY b.BONUS_DATE
    )

 * sqlite:///DataBase.db
Done.

[(1, '2018-01-01', 12, 'Avia', 36),
 (1, '2018-01-01', 12, 'Avia', 36),
 (1, '2018-01-01', 12, 'Avia', 36),
 (1, '2018-01-18', 12, 'Avia', 48),
 (2, '2018-06-01', 25, 'Avia', 70),
 (2, '2018-06-01', 45, 'Avia', 70),
 (2, '2018-06-21', 45, 'Avia', 115),
 (3, '2018-06-01', 15, 'Hotels', 30),
 (3, '2018-06-01', 15, 'Hotels', 30),
 (3, '2018-06-18', 15, 'Hotels', 45),
 (3, '2018-06-30', 15, 'Hotels', 60),
 (4, '2018-01-04', 6, 'Avia', 6),
 (4, '2018-01-14', 46, 'Avia', 52),
 (4, '2018-11-04', 36, 'Avia', 134),
 (4, '2018-11-04', 46, 'Avia', 134),
 (5, '2018-12-10', 34, 'Hotels', 34),
 (5, '2018-12-11', 34, 'Hotels', 102),
 (5, '2018-12-11', 34, 'Hotels', 102),
 (6, '2018-01-10', 26, 'Hotels', 26),
 (6, '2018-01-11', 26, 'Hotels', 52),
 (6, '2018-01-19', 26, 'Hotels', 104),
 (6, '2018-01-19', 26, 'Hotels', 104),
 (7, '2018-07-07', 24, 'Avia', 48),
 (7, '2018-07-07', 24, 'Avia', 48),
 (7, '2018-07-17', 74, 'Avia', 146),
 (7, '2018-07-17', 24, 'Avia', 146),
 (8, '2018-09-08', 32, 'Hotels', 64),
 (8, '2018-09-08', 32, 'Hotels', 64),
 (8, '2018-09-18', 32, 'Hotels', 96),
 (8, '2018-09-28', 32, 'Hotels', 128),
 (9, '2018-02-04', 12, 'Avia', 12),
 (9, '2018-02-14', 12, 'Avia', 43),
 (9, '2018-02-14', 19, 'Avia', 43),
 (9, '2018-02-16', 29, 'Avia', 72),
 (10, '2018-02-11', 43, 'Hotels', 86),
 (10, '2018-02-11', 43, 'Hotels', 86),
 (10, '2018-12-01', 43, 'Hotels', 129),
 (10, '2018-12-11', 43, 'Hotels', 172)]

The last step is to keep data with summarized bonuses >= 50, grouping by CLIENT_ID, ordering by DATE, and Keeping top 5 values.

PS: Here, there is an example of 50 bonuses and top 5 clients for simplification, but a similar code can be used for 1000 bonuses and top 1000 clients.

In [17]:
%%sql
SELECT
    CLIENT_ID
FROM (
    SELECT
        CLIENT_ID,
        BONUS_DATE,
        BONUS_CNT,
        MCC_CATEGORY,
        SUM(BONUS_CNT) OVER (PARTITION BY CLIENT_ID ORDER BY BONUS_DATE) AS bon_sum
    FROM (
        SELECT b.CLIENT_ID, b.BONUS_DATE, b.BONUS_CNT, m.MCC_CATEGORY
        FROM BONUS AS b
        JOIN MCC_CATEGORIES AS m
            ON b.MCC_CODE = m.MCC_CODE
        WHERE m.MCC_CATEGORY IN ('Avia', 'Hotels')
        ORDER BY b.BONUS_DATE
)
)
WHERE BON_SUM >= 50
GROUP BY CLIENT_ID
HAVING BONUS_DATE = MIN(BONUS_DATE)
ORDER BY BONUS_DATE
LIMIT 5

 * sqlite:///DataBase.db
Done.

[(6,), (4,), (10,), (9,), (2,)]

#### 5. The fifth task
The sum(X) command sums all the values of column X, how do you multiply all the values of one column in SQL?

In [51]:
%%sql
SELECT MCC_CODE
FROM MCC_CATEGORIES

 * sqlite:///DataBase.db
Done.

[(1,), (2,), (3,)]

In [50]:
%%sql
SELECT SUM(MCC_CODE)
FROM MCC_CATEGORIES

 * sqlite:///DataBase.db
Done.

[(6,)]

In [70]:
%%sql
SELECT EXP(SUM(LN(MCC_CODE)))
FROM your_table;

 * sqlite:///DataBase.db
(sqlite3.OperationalError) no such table: your_table
[SQL: SELECT EXP(SUM(LN(MCC_CODE)))
FROM your_table;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)